
<div  id="mainImg"
          style= "
                  background:#808080ad ;
                  width: 100%;
                  height: 489px;
                  ">
    <img src="<%= imgSrc = '' || imgSrc %>"
              style= "
                      height: 420px;
                      width: 340px;
                      padding-left: 448px;"
      />
</div>


<div id="productInfo">
    <h2> product name:  <%= productName = '' || productName%> </h2>
    <h2> product Description:  <%= productDescription = '' || productDescription%> </h2>
    <h2> product Remaining Deals:  ><%= productRemainingDeals = '' || productRemainingDeals%> </h2>
</div>
