<!DOCTYPE html>
<html>
  <head>
        <!-- shit you're not usually supposed to touch -->
        <!-- search engine visibility -->
        <meta name="robots" content="noindex, nofollow">
        <!-- viewport for consistensy between mobile devices -->
        <meta id="meta-viewport" name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- charecter set - this is always utf-8 -->
        <meta charset="utf-8" />
        <!-- help retarded browsers (internet explorer) understand the site's graphics -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- facebook settings that are constant -->
        <meta property="og:site_name" content="webuytwo.co.il" />
        <meta property="og:type" content="website" />
        <!-- end of shit you're not usually supposed to touch -->

        <!-- page metadata -->
        <title><meta property="og:pageTitle" content="<%= pageTitle = '' || pageTitle %>" /></title>
        <!-- <title><%= pageTitle = '' || pageTitle %></title> -->
        <meta name="description" content='<%= pageDescription = '' || pageDescription %>' />
        <meta property="og:title" content="<%= shareTitle = '' || shareTitle %>" />
        <meta property="og:description" content='<%= shareDescription = '' || shareDescription %>' />
        <meta property="og:url" content="<%= pageUrl = '' || pageUrl %>" />
        <meta property="og:image" content="<%= shareImage = '' || shareImage %>" />
        <meta property="og:image:width" content="100px"/>
        <meta property="og:image:height" content="100px"/>

        <!-- sharing metadata -->

        <!-- stylesheet/s -->
        <!--STYLES  -->

        <!--STYLES END-->
    </head>

    <body>
        <%- body %>

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/test.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
