
<div  id="mainImg"
          style= "
                  background:#808080ad ;
                  width: 100%;
                  height: 489px;
                  ">
    <img src="<%= imgSrc = '' || imgSrc %>"
              style= "
                      height: 420px;
                      width: 340px;
                      padding-left: 448px;"
      />
</div>
<div class="inviteFriends"
      style= "
              float: right;
              background: #efece4;
              height: 269px;
              width: 50%;"
  >
    <div class="social-icons">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
      //http://www.bogss.co.il/?add-to-cart=33&quantity=3
      function createCORSRequest(method, url){
          var xhr = new XMLHttpRequest();
          if ("withCredentials" in xhr){
              // XHR has 'withCredentials' property only if it supports CORS
              xhr.open(method, url, true);
          } else if (typeof XDomainRequest != "undefined"){ // if IE use XDR
              xhr = new XDomainRequest();
              xhr.open(method, url);
          } else {
              xhr = null;
          }
          return xhr;
      }



      $(document).on("click", '.inviteFriend', function() {
        var request = createCORSRequest( "get", "http://www.bogss.co.il/?add-to-cart=33&quantity=3" );
        if ( request ){
            // Define a callback function
            request.onload = function(data){
              console.log(data);
              console.log("f");
            };
            // Send request
            request.send();
        }

        });
      //   jQuery.get("http://www.bogss.co.il/?add-to-cart=33&quantity=3", "").done(function(response){
      //     console.log(response);
      //   }).fail(function(response){
      //     console.log(response);
      //   });
      //
      //
      // var x =  $.ajax({
      //       url: "http://www.bogss.co.il/?add-to-cart=33&quantity=3",
      //       data: "",
      //       dataType: "jsonp",
      //       success : function (data) {
      //         var file = data.files[0];
      //         console.log(data.files[0]);
      //         console.log(data.result.files); // always undefined ...;
      //         console.log("f");
      //         }
      //       });
      //       console.log(x);
      //       console.log("d");
        //  $.get("http://www.bogss.co.il/?add-to-cart=33&quantity=3", function(data, status){
        //       alert("Data: " + data + "\nStatus: " + status);
        //     }).done(function (e, data) {
        //         var file = data.files[0];
        //         console.log(data.files[0]);
        //         console.log(data.result.files); // always undefined ...;
        //       });
        //     console.log(x);
        //     console.log("d");




      // $(document).ready(function() {
      //
      // var isMobile = {
      //
      //     // Android: function() {
      //     //   alert("Android");
      //     //     return navigator.userAgent.match(/Android/i);
      //     // },
      //     // BlackBerry: function() {
      //     //     return navigator.userAgent.match(/BlackBerry/i);
      //     // },
      //     // iOS: function() {
      //     //     return navigator.userAgent.match(/iPhone|iPad|iPod/i);
      //     // },
      //     // Opera: function() {
      //     //     return navigator.userAgent.match(/Opera Mini/i);
      //     // },
      //     // Windows: function() {
      //     //     return navigator.userAgent.match(/IEMobile/i);
      //     // },
      //     mobile = () => {
      //         var check = false;
      //         (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      //         return check;
      //       }},
      //
      //       android = () => {
      //           return (/android/.test(navigator.userAgent.toLowerCase()) && !window.MSStream);
      //       },
      //
      //       ios = () => {
      //           return (/ipad|iphone|ipod/.test(navigator.userAgent.toLowerCase()) && !window.MSStream);
      //       },
      //       any: function() {
      //           return (isMobile.android() || isMobile.mobile() || isMobile.ios());// || isMobile.iOS() || isMobile.Opera() || isMobile.Windows()
      //       }
      // };
      //  $(document).on("click", '.whatsapp', function() {
      //         if( isMobile.any() ) {
      //             var text = $(this).attr("data-text");
      //             var url = $(this).attr("data-link");
      //             var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
      //             var whatsapp_url = "whatsapp://send?text=" + message;
      //             window.location.href = whatsapp_url;
      //         } else {
      //             alert("Please share this article in mobile device");
      //         }
      //     });
      // });

      </script>

      <div class="inviteFriend"
        style="
                      width: 146px;
                      height: 52px;
                      margin-left: 253px;
                      margin-top: 50px;
                    ">invite</div>


        <div class="icon ">
          <a href="<%= whatsapp = '' || whatsapp%>" data-text="1+1 project" data-link="http://w3lessons.info" class="whatsapp">whatsapp</a>
        </div>
        <div class="icon email">
            <a  href="<%= email = '' || email%>" tabindex="1" >שיתוף במייל</a>
        </div>
        <div class="icon twitter">
            <a href="<%= twitter = '' || twitter%>" target="_blank" tabindex="1">שיתוף בטוויטר</a>
        </div>
        <div class="icon facebook">
            <a href="<%= facebook = '' || facebook%>" target="_blank" tabindex="1">שיתוף בפייסבוק</a>
        </div>
    </div>


</div>


<div id="productInfo">
    <h2> product name:  <%= productName = '' || productName%> </h2>
    <h2> product Description:  <%= productDescription = '' || productDescription%> </h2>
    <h2> product Remaining Deals:  ><%= productRemainingDeals = '' || productRemainingDeals%> </h2>
</div>
